<p>
    <a routerLink="">
        <img src="https://i.redd.it/vk01s637v8w01.jpg" alt="banner" class="banner">
    </a>
</p>
<div>

    <nav class="p-grid ng-tns-c124-140">
        <div class="p-grid ng-tns-c124-140 button">


            <a class="p-button-secondary p-ripple p-button p-component p-col-12 p-md-6 p-lg-3 ng-tns-c124-140"
                routerLink="">Home</a>
            <a class="p-button-secondary p-ripple p-button p-component" routerLink="/strat">Stratégie Raid</a>
            <a class="p-button-secondary p-ripple p-button p-component "
                href="https://raider.io/guilds/eu/dalaran/Pr%C3%B5phec%C3%BF/roster#mode=normal_raiders"
                target="_blank">Roster <i class="pi pi-external-link"></i></a>

            <a class="p-button-secondary p-ripple p-button p-component"
                href="https://worldofwarcraft.com/fr-fr/guild/eu/dalaran/pr%C3%B5phec%C3%BF"
                target="_blank">Prõphecÿ <i class="pi pi-external-link"></i></a>


            <a class="p-button-secondary p-ripple p-button p-component" routerLink="/connect">Connexion</a>

        </div>




    </nav>
</div>