<h2>Boss du chateau Nathria</h2>
<div class=button>

    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Hurlaile"
        routerLink="/strat/Hurlaile"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Altimor le Veneur"
        routerLink="/strat/Altimor"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component"
        label="Salut du roi-soleil" routerLink="/strat/Roi_soleil"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Artificier Xy'mox"
        routerLink="/strat/Xy_mox"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Destructeur affamé"
        routerLink="/strat/Destructeur"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component"
        label="Dame Inerva Sombreveine" routerLink="/strat/Inerva"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Le conseil du Sang"
        routerLink="/strat/Conseil_de_sang"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Fangepoing"
        routerLink="/strat/Fangepoing"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component"
        label="Généraux de la Légion de pierre" routerLink="/strat/Generaux_de_pierre"></button>
    <button pButton class="p-button-rounded p-button-secondary p-ripple p-button p-component" label="Sire Denathrius"
        routerLink="/strat/Denathrius"></button>
</div>
<router-outlet></router-outlet>